<h1>Add a Book</h1>
<a href="/home/index">Return to Home</a><br />

<%= form_with(model: @book, url: books_path) do |f| %>
    <div>
        <%= f.label :title %><br>
        <%= f.text_field :title, autofocus: true %>
    </div>
    <div style="margin-top:.50rem;">
        <%= f.submit "Create Book" %>
    </div>
<% end %>




